* text=auto eol=lf
*.php text eol=lf
*.md text eol=lf
*.json text eol=lf

/tests export-ignore
/phpunit.xml.dist export-ignore
/ROADMAP.md export-ignore
/USE-CASES.md export-ignore
/.github export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
